<mat-grid-list cols="3" rowHeight="100vh">
  <mat-grid-tile *ngIf="selectedCharacter!=null">
    <app-character [character]="selectedCharacter"></app-character>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="selectedCharacter!=null? 2 : 3">
    <div class="film">
      <mat-grid-list cols="2" gutterSize="2rem" rowHeight="500px">
        <mat-grid-tile *ngFor="let film of films">
          <div style="padding: 3rem">
            <app-film [film]="film"></app-film>
            <strong>Characters: </strong>
            <mat-list class="characters-list">
              <mat-list-item (click)="selectCharacter(character)"
                             *ngFor="let character of film.charactersList">
                {{character.name}}
              </mat-list-item>
            </mat-list>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </mat-grid-tile>
</mat-grid-list>
