/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

$my-primary: mat.define-palette(mat.$indigo-palette, 500);
$my-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

@mixin size-include-padding {
  box-sizing: border-box;
}

* {
  @include size-include-padding;
}

@mixin stretch-w {
  width: 100vw;
}

@mixin stretch-h {
  height: 100vh;
}

@mixin stretch {
  @include stretch-w;
  @include stretch-h;
}

.stretch {
  @include stretch;
}

@mixin flex {
  display: flex;
}

@mixin container-attributes {
  @include stretch;
  @include flex;
}

.container {
  @include container-attributes;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 1rem;
}

html, body {
  @include container-attributes;
}
